.section-home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-about {
    height: 100vh;
    padding: 6rem;

    @include responsive(tab-land) {
        margin: 4rem;
    }

    @include responsive(phone) {
        margin: 2rem;
    }

    p {
        font-size: $font-p;
    }
}

.section-education {
    // height: 100vh;
    @include responsive(tab-land) {
        margin-top: 4rem;
    }
}

.section-skills {
    height: 100vh;

    @include responsive(tab-land) {
        margin-top: 4rem;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        ul {
            margin: 5rem;
        }
        
        li {
            list-style-type: none;
            margin: 3rem; 
        }
    }
}

.section-experience {
    // height: 100vh;

    @include responsive(tab-land) {
        margin-top: 4rem;
    }
}

.section-projects {
    // height: 100vh;

    @include responsive(tab-land) {
        margin-top: 4rem;
    }
}

.section-contact {
    height: 100vh;

    @include responsive(tab-land) {
        margin: 4rem;
    }

    @include responsive(phone) {
        margin: 4rem 2rem;
    }
}

